@import "tailwindcss";
   .blurred-overlay {
      background-color: rgba(255, 255, 255, 0.3); /* Semi-transparent white background */
      backdrop-filter: blur(10px); /* Apply blur to the background behind this element */
      -webkit-backdrop-filter: blur(10px); /* For Webkit browsers */
      padding: 30px;
      border-radius: 10px;
      text-align: center;
      color: #333;
    }


    @keyframes pan {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -4000px 0; /* or -100% if using relative units */
  }
}

.animate-pan {
  animation: pan 30s linear infinite;
}